/* YOUR CSS HERE */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
main {
  margin: 20px;
}
h2 {
  font-size: 3rem;
  margin-bottom: 10px;
  font-family: "Roboto Slab", serif;
}

/*% ----- Header ----- */
header {
  position: relative;
  width: 100%;
  height: 80px;
  background-color: #f2f2f2;
  position: fixed;
}
.logo-wrapper {
  width: auto;
  height: 65px;
  width: 100px;
  height: auto;
  margin-left: 20px;
}
.logo-image {
  width: auto;
  height: 70px;
}
.go-to-cart::after {
  content: 'Cart';
  position: absolute;
  top: 5px;
  right: 45px;
  transform: translateY(225%);
  font-family: "Roboto Slab", serif;
  font-weight: bold;
  color: #b48948;
}
.go-to-cart-image {
  position: absolute;
  top: 10px;
  right: 40px;
  width: 50px;
  height: auto;
}
a {
  text-decoration: none;
  color: black;
}
.page-top {
  opacity: 0;
  text-align: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #b48948;
  position: absolute;
  top: calc(100vh - 70px);
  right: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.page-top a {
  color: white;
  font-size: 1rem;
  font-weight: bold;
}
.is-show {
  opacity: 1;
  transition: opacity 1s ease;
}
.space-holder {
  width: 100%;
  height: 80px;
}

/*% ----- card list ----- */
.product-list {
  margin: 0 auto;
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
}

/*% ----- card ----- */
.card {
  display: flex;
  width: auto;
  height: auto;
  gap: 1rem;
  margin-bottom: 20px;
  border: solid 1px #666666;
  padding: 1.5rem;
}
.product-image{
  width: 200px;
  height: 300px;
  margin: auto 0;
}
.product-heading {
  font-size: 1.5rem;
}
.product-price {
  font-size: 1.5rem;
  font-weight: bold;
}
.product-price::first-letter {
  font-size: 1rem;
  margin-right: .3rem;
}
.add-to-cart-btn {
  height: 35px;
  width: 100px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  background-color: #4B76B7;
  color: white;
  border: solid 2px white;
  border-radius: 20px;
}
.add-to-cart-btn:hover {
  background-color: white;
  color: #4B76B7;
  border: solid 2px #4B76B7;
}

/*% -----cart Buttons----- */
.cart-buttons {
  margin-top: 10px;
  max-width: 300px;
  display: flex;
}
.counter-buttons {
  height: 40px;
  max-width: 250px;
  display: flex;
  align-items: stretch;
  border-radius: 10px;
  justify-content: space-between;
  border: solid 1px #666;
  box-shadow: 0 2px 5px #ccc;
}
.item-number {
  padding: 0 10px;
  margin: auto;
  user-select: none;
}
.decrement-btn, .increment-btn {
  padding: 0 20px;
  font-size: 1.5rem;
  border: none;
  cursor: pointer;
  user-select: none;
}
.decrement-btn {
  border-radius: 10px 0 0 10px;
  border-right: solid 1px #ccc;
}
.increment-btn {
  border-radius: 0 10px 10px 0;
  border-left: solid 1px #ccc;
}
.delete-btn {
  padding: 10px 0 10px 0;
  margin: auto 0 auto 30px;
  width: 65px;
  height: auto;
  border-radius: 20px;
  border: solid 1px #666;
  box-shadow: 0 2px 5px #ccc;
  cursor: pointer;
  user-select: none;
}
.delete-btn:hover, .increment-btn:hover, .decrement-btn:hover {
  background-color: #ccc;
}
.cart-list {
  margin-bottom: 10px;
}

/*% ----- cart ----- */
#cart {
  margin: 0 50px;
}
#cart h3:not(.product-title) {
  font-size: 3rem;
  font-family: "Roboto Slab", serif;
}
.cart-item {
  width: 85%;
  list-style: none;
  display: flex;
  gap: 1rem;
  padding: 10px;
  border-bottom: solid .5px #999999;
}
.cart-item:nth-child(1) {
  border-top: solid .5px #999999;
}
.cart-image-wrapper {
  margin: 2rem auto auto;
}
.cart-image {
  width: 100px;
}
.product-title {
  font-size: 1.5rem;
  margin: 1rem auto .3rem;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
.product-description {
  font-size: 1rem;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
.product-price {
  font-size: 1.5rem;
}
.total-price {
  margin-top: 10px;
  font-size: 1.5rem;
}

/*% ----- footer ----- */
footer {
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f2f2f2;
}
.footer-logo-wrapper {
  width: auto;
  height: auto;
}
.footer-logo {
  width: auto;
  height: 70px;
}
footer p {
  display: block;
}